body {
    font-size: medium;
 }

.container{
	width: 800px;
}

.span12{
    /* text-align: left;     */
	width: auto;
	margin-left: 0;	/* need to override unwanted effect from bootstrap */
	 float: none;
}

.row{
    /* margin-left: 150px; */
	  margin-left: 0;	/* need to override unwanted effect from bootstrap */
}

.post {
    margin: 40px 0px;
}

.number_of_votes{
    display: inline-block;
}

.comments{
    font-size: small;
}

.first_column{
	width: 30px;
}

.comment-body{
	width: 700px;

}

#new-post textarea {
  
    margin-right: 15px;
	width: 750px;
}
#new-post {
    margin: 20px;
}

.post-remove {
	width: 18px;
	float: right;
}
