body {
    padding-top: 80px;
    margin: 20px;
    font-size: medium;
 }

.span12{
    text-align: left;
    width: 850px;
}

.row{
    margin-left: 150px;
}

.number_of_votes{
    display: inline-block;
}

.comments{
    font-size: small;
}

.first_column{
	width: 30px;
}

.new-comment textarea{
	width: 550px;

}

#new-post textarea {
    margin: 0;
    padding: 0;
    margin-right: 15px;
}
#new-post {
    margin-left: 20px;
}

.post-remove {
	width: 18px;
	float: right;
}
